ul {
	padding:0;
}

li {
	list-style-type: none;
	cursor: pointer;
	padding-right: 20px;
}

.languages {
	display: flex;
	text-align: center;

}


.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item{
	margin :20px;
	text-align: center;
}

.space-list-items{
	margin-bottom: 10px;
}

.avartar{
	width:150px;
	border-radius: 50%;
}